@use "./varibles" as *;
@use "./mixins" as *;

@import "./normalize";
@import "./fonts";
@import "./settings";

.header {
  padding-top: 33px;
  padding-bottom: 30px;
  background-color: #fff;

    &__logo {
      width: 244px;
      height: 45px;
    }

    &__user-buttons {
      @include flexsb();
      align-items: center;
    }

    &__tel {
      margin-right: 62.5px;
      
        a {
          color: #000;
          vertical-align: top;
          @include font(18px,21px);
        }
    }

    &__buttons {

      button {
        padding: 0;
        background: none;
        // border: none;
        width: 46px;
        height: 45px;
      }

      button:last-of-type {
        margin-right: 0;
      }
    }

    &__buy {
      width: 30px;
      height: 32px;
    }

    &__add-user {
      width: 26px;
      height: 27px;
    }
}

// ------

div {
  border: 1px solid grey;
}

button {
  border: 1px solid grey;
}

.flex-space-between {
  @include flexsb();
}