.buy-button {
  position: relative;

  &__counter {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 2px;
    right: -2px;
    background: #06D10E;
    color: #FFF;
    @include font(12px,15px,600);
    padding: 2.5px 6.5px;
    //vertical-align: middle;
  }

  &__counter--active {
    display: inline;
  }
}