.card-form {
  font-size: 0;

  &__options {
    //@include flexsb();
    display: flex;
    justify-content: start;
    margin-bottom: 25px;
  }

  &__option-button {
    @include font(18px,21px,500);
  }

  &__buttons {
    @include flexsb();
    @include font(18px,21px,600);
  }
}