.radio {

  &__label {
    padding: 3px 12px;
    background: none;
    color: #4F4F4F;
    border-radius: 5px;
    border: 1px solid rgba(0, 150, 100, 0);
  }

  &__label--checked {
    background-color: #FFFFFF;
    border: 1px solid #3ECF5E;
  }

  &__input {
    display:none;
  }

}