.link-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.icon-button {
  width: 46px;
  height: 45px;
  background: #FFF;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}

.arrow-button {
  padding: 0;
  background: none;
  border: none;
}

.arrow-button:hover {
  cursor: pointer;
}

.fill-button {
  padding: 12px 32px;
  color: #FFF;
  background-color: #3FCF5E;
  border: 1px solid rgba(5, 175, 52, 0.53);
  border-radius: 10px;
}

.inviz-button {
  padding: 3px 12px;
  color: #4F4F4F;
  border-radius: 5px;
  //border: none;
  border: 1px solid rgba(0, 150, 100, 0);
  background: none;
}

.inviz-button:active,
.inviz-button:focus {
  background-color: #FFFFFF;
  border: 1px solid #3ECF5E;
}