.link-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.icon-button {
  width: 46px;
  height: 45px;
  background: #FFF;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}

.buy-icon-button {
  width: 46px;
  height: 45px;
  background: #FFF;
  background-image: url(../images/buy.svg);
  background-repeat: no-repeat;
  background-position: center;
  //@include bgimage(#FFF,"../images/buy.svg",contain);
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}

.arrow-button {
  padding: 0;
  background: none;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.fill-button {
  padding: 12px 32px;
  color: #FFF;
  background-color: #3FCF5E;
  border: 1px solid rgba(5, 175, 52, 0.53);
  border-radius: 10px;
}