.search {
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  width: 345px;
  height: 54px;
  //padding-top: 11px;
  //padding-left: 20px;
  //padding-bottom: 4px;
  //padding-right: 22px;

  @include flexsb();

  &__input {
    padding-top: 17px;
    padding-left: 20px;
    padding-bottom: 14px;
    background: none;
    border: none;
    @include font(18px,21px);
    flex-grow: 1;
    border-radius: inherit;

    //border: 1px solid #BDBDBD;
    //background: aquamarine;
  }

  &__input:focus-visible {
    outline: none;
  }

  &__button {
    padding-top: 19px;
    padding-bottom: 6px;
    padding-right: 22px;
    background: none;
    border: none;
    align-self: flex-end;
    border-radius: inherit;

    //border: 1px solid #BDBDBD;
    //background: aquamarine;

    img {
      width: 26px;
      height: 27px;
      vertical-align: middle;
    }
  }
}