.user-buttons {
  @include flexsb();
  align-items: flex-start;

  &__button {
    width: 32px;
    height: 45px;
    margin-right: 15px;
    padding: 0;
    background: none;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
  }

  &__button:last-of-type {
    margin-right: 0;
  }
}